@inherits Component
<link href="/css/sidebar.css" rel="stylesheet" />

<div class="navbar nav_title" style="border: 0;">
    <a href="index.html" class="site_title">
        <MatIcon Icon="@MatIconNames.Local_hospital"></MatIcon>
        <span>Gentelella Alela!</span>
    </a>
</div>
<div class="clearfix"></div>
<div class="profile clearfix">
    <div class="profile_pic">
        <PersonImage PersonID="Session.Me.PersonID" Class="img-circle profile_img" />
    </div>
    <div class="profile_info">

        @if (Session.Me.Center != null)
        {
            <h6 style="color:white;">@Session.Me.Center.CenterName</h6>
        }
        <span>Welcome,</span>
        <h2>@Session.Me.PersonName</h2>
    </div>
</div>

<MatNavMenu Style="background-color: #2A3F54;height:100%;">
    <MatNavItem Href="/" Style="margin-top:0px;"><MatIcon Icon="@MatIconNames.Home"></MatIcon> <Space Count="1" /> Home</MatNavItem>

    @if (Session.Me.Role.IsSystemAdmin == true)
    {
        <SubNavMenu Title="Administration" Icon="account_box">
            <SidebarNavItem Url="/centers" Icon="@MatIconNames.Domain" Title="Centers" />
            <SidebarNavItem Url="/centers/admins" Icon="@MatIconNames.Verified_user" Title="CentersAdmins" />
        </SubNavMenu>
    }

    @if (Session.Me.Role.IsAdmin == true)
    {
        <SubNavMenu Title="Administration" Icon="@MatIconNames.People">
            <SidebarNavItem Url="/employees" Icon="@MatIconNames.Domain" Title="Employees" />
        </SubNavMenu>
    }
</MatNavMenu>


@code
        {
    [Inject] IJSRuntime JS { get; set; }

    bool navSubMenuOpenState;

    async Task ClickMe()
    {
        Console.WriteLine("test");
        await JS.InvokeAsync<object>("alert", "Successful OnClick!");
    }
}