@page "/centers"
@inherits Component
    <div class="container">
        <div class="row">
            <div class="col-9"></div>
            <div class="col-3">
                <MatFAB Icon="@MatIconNames.Add" Label="Create New" @onclick="@(()=> { UriHelper.NavigateTo("/centers/create"); })"></MatFAB>
            </div>

            <div class="col-12">
                <MatTable Items="DataList" Class="table table-hover">
                    <MatTableHeader>
                        <th style="width:200px;">Center Name</th>
                        <th>Edit</th>

                    </MatTableHeader>

                    <MatTableRow>
                        <td>@context.CenterName</td>
                        <td>
                            @if (context.CenterID != Session.Me.CenterID)
                            {
                                <NavLink href="@($"/centers/details/{context.CenterID}")">
                                    <MatIcon Icon="@MatIconNames.Create" Class="text-primary" />
                                </NavLink>
                            }

                        </td>
                        <td></td>
                    </MatTableRow>
                </MatTable>
            </div>
        </div>
    </div>