@inherits Component
@foreach (Person admin in AdminsList)
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@admin.PersonName</td>

                <td>

                    @switch (admin.PersonState)
                    {

                        case UserStates.Pending:
                        case UserStates.Blocked:
                            <MatChip @onclick="@(()=> { SwitchPersonState(admin.PersonID, UserStates.Active); })" TrailingIcon="@MatIconNames.Check" Class="badge-success" Label="Activate" />
                            break;

                        case UserStates.Active:
                            <MatChip @onclick="@(()=> { SwitchPersonState(admin.PersonID, UserStates.Blocked); })" TrailingIcon="@MatIconNames.Block" Class="badge-danger" Label="Block" />
                            break;
                        default:
                            break;
                    }
                </td>
            </tr>
        </tbody>
    </table>
}
